@mixin center-vertically {
   display: flex;
   align-items: center;
}

@mixin center-horizontally {
   display: flex;
   justify-content: center;
}

@mixin center {
   display: flex;
   align-items: center;
   justify-content: center;
}